body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: plum;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

h2 {
    margin-top: 20px;
}

.management-options {
    margin-bottom: 20px;
}

.management-options button {
    margin-right: 10px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

.management-options button:hover {
    background-color: #0056b3;
}

#user-form, #book-form {
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#user-form h3, #book-form h3 {
    margin-top: 0;
    margin-bottom: 15px;
}

#user-management-form input,
#user-management-form select,
#book-management-form input {
    width: calc(100% - 20px);
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box; 
}

#user-management-form button,
#book-management-form button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #28a745;
    color: white;
    cursor: pointer;
    margin-right: 10px;
}

#user-management-form button:hover,
#book-management-form button:hover {
    background-color: #218838;
}